<div class="buttons">
    <button class="btn" (click)="M_KWh_D()">KWh_D</button>
    <button class="btn" (click)="M_KVARh_D()">KVARh_D</button>
    <button class="btn" (click)="M_KVARh_R()">KVARh_R</button>
    <button class="btn" (click)="M_KVAh_D()">KVAh_D</button>
    <button class="btn" (click)="M_V_LL()">V_LL</button>
    <button class="btn" (click)="M_V_LN()">V_LN</button>
    <button class="btn" (click)="M_Aavg()">Aavg</button>
    <button class="btn" (click)="M_KW()">KW</button>
    <button class="btn" (click)="M_KVAR()">KVAR</button>
    <button class="btn" (click)="M_KVA()">KVA</button>
    <button class="btn" (click)="M_PF()">PF</button>
    </div>
<div class="chart-container">
    <canvas  id="canvas" >{{ chart }}</canvas>
</div>