<div class="container">

  <!-- <app-sort-bar></app-sort-bar> -->
  <!-- <app-sort-line></app-sort-line> -->
  <!-- <app-interval-chart></app-interval-chart> -->

  <!-- <app-line-with-meter></app-line-with-meter> -->

  <!-- <app-range-slider-chart>  </app-range-slider-chart> -->

  <!-- <app-pie-chart></app-pie-chart> -->
  
  <!-- <div class="analytics">
    <app-sort-bar></app-sort-bar>
    <app-pie-chart></app-pie-chart>
  </div>

  <div class="analytics1">
    <app-sort-line></app-sort-line>
    <app-gauge></app-gauge>
  </div> -->

  <!-- <app-dynamic-chart></app-dynamic-chart> -->

<app-allday>
</app-allday>

  
  


  <div>
    <router-outlet></router-outlet>
  </div>
</div>